<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="gst-root" title="GST" order="-107" if="__config__.app.isApp('gst')"
		icon="fa fa-money" icon-background="#2fa042"/>
		
</object-views>
