<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="gst-root" title="GST" order="-107" if="__config__.app.isApp('gst')"
		icon="fa fa-money" icon-background="#2fa042"/>
		
		 
    <menuitem name="admin-root-organisation-territory-state"
        parent="admin-root-organisation-territory" title="States"
        action="admin.root.organisation.territory.state" if="__config__.app.isApp('gst')" />
	
	<action-view name="admin.root.organisation.territory.state" title="States" model="com.axelor.apps.gst.db.State">
	  <view type="grid" name="state-grid" />
	  <view type="form" name="state-form"/>
	</action-view>
	
	<action-view name="invoice.root.custinvoices" id="gst.invoice.root.custinvoices" title="Cust. Invoices"
		model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid"/>
		<view type="form" name="invoice-form"/>
		<view type="kanban" name="invoice-kanban" if="__config__.app.isApp('gst')"/>
		<view-param name="search-filters" value="customer-invoices-filters"/>
		<domain>self.operationTypeSelect = 3</domain>
		<context name="_operationTypeSelect" expr="eval:3"/>
		<context name="todayDate" expr="eval:__config__.app.getTodayDate(__user__.activeCompany)" />
	</action-view>
	
</object-views>
