<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="gst-root" title="GST" order="-107" if="__config__.app.isApp('gst')"
		icon="fa fa-money" icon-background="#2fa042"/>
		
		 
    <menuitem name="admin-root-organisation-territory-state"
        parent="admin-root-organisation-territory" title="States"
        action="admin.root.organisation.territory.state" if="__config__.app.isApp('gst')" />
	
	<action-view name="admin.root.organisation.territory.state" title="States" model="com.axelor.apps.gst.db.State">
	  <view type="grid" name="state-grid" />
	  <view type="form" name="state-form"/>
	</action-view>	
	
</object-views>
